#naut-shop, #build-order {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#naut-shop {
  display: none;
  z-index: 101;
  border: 3px solid transparent;
  position: fixed;
  left: 0;
  top: 0;
  width: 50%;
  height: 80%;
  border-image: url("/standalone/nautsbuilder/images/border-shop.png") 5 round;
  overflow: hidden;
}

.shop-row {
  text-align: center;
  width: 100%;
  height: 25%;
  border-top: 2px solid black;
  background-image: url("/standalone/nautsbuilder/images/shop-hexagon.png");
}

#shop-row-1, #shop-row-3 {
  background-color: rgba(0, 31, 51, 0.8);

}

#shop-row-2, #shop-row-4 {
  background-color: rgba(0, 16, 29, 0.8);
}

#build-order {
  display: none;
  z-index: 102;
  position: fixed;
  left: 0;
  top: calc(80% + 5px);
  height: 20%;
  width: 50%;
  background-color: rgba(0, 31, 51, 0.8);
  border: 3px solid transparent;
  border-image: url("/standalone/nautsbuilder/images/border-shop.png") 5 round;
  overflow: auto;
}

#draggedUprade .shop-item-container{
  position: fixed;
  width: 50px;
  height: 50px;
}

#build-order-content .shop-item-container {
  width: 7%;
  vertical-align: middle;
}

#build-order-content .selected {
  z-index: 999;
  box-shadow: 0 0 0px 3px rgba(38, 200, 233, 0.8)!important;
  opacity: 0.5;
}
